
body {
  
  background-color: bisque;
  margin: 20px;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.container {
  max-width: 100px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}